:root{
    --cor-fundo:#0F3040 ;
    --cor-principal:#83f1d9;
    --cor-secundaria:#FFC5AA;
    --cor-destaque:#8B639B;
    --cor-texto:#e95a5a;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
}
.classe-principal{
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
}