:root{
    --cor-fundo:#a6ffc8 ;
    --cor-principal:#83f1d9;
    --cor-secundaria:#FFC5AA;
    --cor-destaque:#8B639B;
    --cor-texto:#FF9D9D;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
}